
body{
    margin:0;
}

.page{
    max-width: 1024px;
    margin-left:auto;
    margin-right:auto;
    border:1px solid black;
}
main{
    margin: 0 10px;
}

/* ------ titre ---*/
header h1{
    text-transform:uppercase ;
    margin:8px auto;
}
header span{
    color:#FECA07;
}

header p{
    margin:6px auto;
}

hr{
    margin-top:-5px;
    margin-left:0;
    height: 1px;
    width: 42px; /* pour changer la largeur du trait */
    background: #FECA07;
    border: none;
}

#header__photo {    
    text-align:center;
}

img {
    width:100px;
    height:100px;
    box-shadow: 0px 0px 0px 4px rgba(0,0,0,0.1);
    border-radius:150px;
    max-width:273px;    
}

#header__photo p{
    margin: 2px auto 10px auto;
}

/*   debut formation          */

section {
    display: flex;
    flex-direction: column;
}

article{
    display:flex;
    flex-direction: column;
    margin-bottom:13px;

}

.section__titre{
    display: flex;
    border-bottom: 1px solid #FECA07;
    align-items: center;
    
    
}
.section__titre h2{
    margin: 5px auto 5px auto;
    text-align:center;
    text-transform: uppercase;

    
}
.section__titre i{
    margin-top:5px;
    margin-left:10px;
    padding-bottom:3px;
    color:#FECA07;
    font-size: 1.5em;
}

.elements{
    margin:5px auto;
}
.element__puce__ou{
    display:flex;
    padding-bottom: 6px;
    align-items:center;
    
}
.element__ou{
    display:flex;
}
.element__ou p{
    margin:5px auto 2px 14px;
}
.element{
    margin-top:25px;      
}
.element__puce i{
    margin-top: 3px;
    color:#FECA07;    
}
.element__quoi{
    padding-top:2px;        
}
.element__quoi p{
    margin-top:8px;
    margin-bottom:8px;
}
h3{
    margin-top: 2px;
    margin-bottom: 2px;
    text-transform: uppercase;    
}

.fa-circle{
    font-size:8px;
}

/*-------------  recommandations----------*/


.recommandations__contenu{
    display:flex;
    justify-content: space-around;
    
}

/*---------- aside --------*/

aside{
    
    display:flex;
    flex-direction: column;
    background-color:#FECA07;
}

#sidebar__photo{
    display:none;
}

aside h2{
    margin-top:0;
    background-color:#404040;
    color:#FECA07;
    text-align: center;
    text-transform: uppercase;
}
.contact__div{
    display:flex;
    justify-content:space-around;
   
}
#sidebar__loisirs__icones{
    font-size:50px;
    text-align:center;    
}

#sidebar__loisirs__icones i{
    margin: auto 10px;

}
#sidebar__propos__text p{
    margin:auto 10px 10px 10px;
}

/* -----------------Responsive-------------------------*/

@media screen and (min-width:900px){

    .page{
        display:flex;
        flex-direction: row-reverse;
    }
    
    aside{
        
        width: 30%;
        flex:none;
    }
    #sidebar__photo{
        display: block;
        text-align:center;

    }
    #sidebar__photo img{
        width:200px;
        height:200px;
    }
    aside div:last-child{
    
        margin-top:auto; /* pour mettre en bas */
        flex:none;
    }
    /*------fin sidebar--------*/
    main{
       display:flex;
       flex-direction: column; 
       padding: 30px 19px 0 32px;
    }    
    #header__photo{
        display:none;
    }
    header{
        margin-bottom:77px;
    }
    
    .section__titre h2{
        margin-left: 27px;
    }
    /*----- fin header ----*/

    .elements{
        display:flex;
        flex-direction: column;
        border: solid red 1px; 
        margin: auto 0 auto 0;
    }
    
    .element{
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        align-items: flex-start;
        
    }
    .element__quoi{
        border: solid green 1px;
        width: 75%;
        margin-left:16px;

    }
    .element__puce__ou{
        align-items:start;
        margin-right:4px;
        border: solid purple 1px; 
        width:25%;
    }
    .element__ou{
        display:flex;
        flex-direction: column;
        white-space: nowrap;
        flex-basis:200px;
        
    }
    .element__puce{
        padding-top: 4px;
    }
    .recommandations__nom{
        border: solid green 1px; 
        width:50%;
        line-height: 6px;
    }
    
}